
/*For the main header*/
h1 {
  font-family: verdana;
  font-size : 250%;
  text-align: center;
}

body {
	background-image: url("images/shoe_edited.jpg");
	background-repeat: no-repeat;
	height: 500px;
	background-color: #fff;
	background-position: center;

}


/*Style for the article div class*/
div.about_section {
	font-family: arial;
	text-align: center;
	font-size: 100%;

	border-style: double;
  border-color: #abc4ed;
  background: rgba(255,255,255,0.8);
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 50px;
}
