/*Stylings for the body background*/
body {
	background-image: url("images/shoe_edited.jpg");
	background-repeat: no-repeat;
	height: 500px;
	background-color: #D1B8B3;
	background-position: center;

}


/*Style for the article div class*/
div.article {
	font-family: arial;
	text-align: center;
	font-size: 100%;

	border-left: 2px solid red;
  	background-color: lightgrey;
  	background: rgba(255,255,255,0.8);
  	padding: 10px;
}

a.div_a {
      display: table;
      width:320px;
      height:160px;
      background-color:#CCC;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}