/*Stylings for the body background*/
body {
	background-color: #FFFFFF;
}


/*Style for the article div class*/
div.article {
	font-family: arial;
	text-align: center;
	font-size: 125%;

	border-left: 5px;
	border-right: 5px;
	border-style: double;
	border-color: #abc4ed;
  	padding-left: 275px;
  	padding-right: 275px;
  	padding-top: 10px;
  	padding-bottom: 50px;
}

div.written_by {
	font-size: 75%;
}