/*Stylings for the body background*/
body {
	background-color: #D1B8B3;
}


/*Style for the article div class*/
div.article {
	font-family: arial;
	text-align: center;
	font-size: 100%;

	border-left: 2px solid red;
	border-right: 2px solid red;
  	background: rgba(255,255,255,0.8);
  	padding-left: 120px;
  	padding-right: 120px;
  	padding-top: 10px;
  	padding-bottom: 50px;
}