body, html {
  height: 75%;
  margin: 0;
  font-family: Arial;
  background-color: white;
 }

.banner_image {
	height: 120%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.banner_text {
	text-align: center;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.container {
	background-color: white;
	padding: 10px;
}

.article {
	background-color: white;
	border-top: solid grey;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.overlay {
	transition: .5s ease;
}

.overlay:hover {
	opacity: 0.5;
}

a {
	color: black;
}

a:hover {
	color: red;
}

p {
	font-size: 75%;
}